* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif, 'inter';
}

/* -- General Content */
#app {
    height: 100vh;
    background-color: red;
}

#content {
    height: 100%;
    display: grid;
    grid-template-columns: 320px 1fr;
}

/* -- Nav */

#nav {
    display: flex;
    flex-direction: column;
    gap: 32px ;
    height: 100%;
    background-color: #F4F5F7;
    border-right: 1px solid #D6D7D9;
    padding: 16px;
}

#nav-separation-line {
    height: 1px;
    width: 100%;
    background-color: #D6D7D9;
}

#nav-bottom{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#nav-bottom-title h2{
    font-size: 24px;
    color: #383A40;
    padding: 0 16px;
}

#nav-projects-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.project{
    display: flex;
    justify-content: space-between;
    color: #383A40;
    padding: 0px 16px;
}

#add-new-project{
    font-size: 16px;
    color: #383A40;
    padding: 8px 16px;
    border: 1px solid #C5C8CC;
    border-radius: 8px;
    text-align: left;

}

/* -- Page or Project Containers */

#page-container {
    height: 100%;
    background-color: #FFFFFF;
    padding: 0 48px;
}

#page-header {
    display: grid;
    grid-template-rows: auto auto;
    gap: 24px;
    margin-top: 72px;
    margin-bottom: 24px;

}

.page-title {
    font-size: 32px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.page-description {
    color: #383A40;
    padding: 0;
    margin: 0;
}

.separator-line {
    background-color: #D6D7D9;
    height: 1px;
}

/* -- Tasks Table Within Project Containers */

/* Tasks */

.task {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-top: 1px solid #D6D7D9;
    border-bottom: 1px solid #D6D7D9;
    margin-top: -1px;
    gap: 40px;
}

.task-left-side {
    display: flex;
    align-items: center;
    gap: 24px;
}

.task-left-side-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task-done-button {
    justify-self: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #808080;
    background-color: #fff;
    flex-shrink: 0;
}

.task-date {
    color: green;
    border: none;
    font-size: 16px;
    width:min-content;
}

.task-description {
    color: #808080;
}

.task-priority {
    display: flex;
    align-items: center;
    gap: 16px;
}

.task-priority-icon {
    height: 16px;
    width: 16px;
    border: 1px solid #D6D7D9;
    border-radius: 100%;
}

.high-priority-icon {
    border: 1px solid #E71313;
    background-color: #F4DFDF;
}

.mid-priority-icon {
    border: 1px solid #F5D215;
    background-color: #FEF8DC;
}

.low-priority-icon {
    border: 1px solid #319B46;
    background-color: #EBF5ED;
}
/* Task Edit Section */

#add-task-section{
    border-top: 1px solid #D6D7D9;
    margin-top: -1px;
    margin-bottom: 24px;
}

#add-task-button{
    margin-top: 24px;
    font-size: 16px;
    color: #17181b;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border: 1px solid #E71313;
    border-radius: 4px;
}

.task-edit-container {
    margin: 24px 0px;
    border: solid 1px #D6D7D9;
    border-radius: 4px;
}

.task-edit-top {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-edit-title {
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.task-edit-description {
    border: none;
    font-size: 12px;
    width: 100%;
    resize: vertical;
}

.task-edit-bottom {
    border-top: 1px solid #D6D7D9;
    display: flex;
    justify-content: space-between;
}

.task-edit-bottom-left {
    display: flex;
    gap: 16px;
}

.task-edit-date{
    border: none;
    outline-style: none;
    appearance: none;
    box-shadow: none;
}

.task-edit-date::-webkit-datetime-edit
{
    padding: 0 16px;
}

.task-edit-priority{
    padding: 0 24px;
    font-size: 14px;
    border: none;
    border-left: 1px solid #D6D7D9;
    border-right: 1px solid #D6D7D9;
    background-color: #fff;
    outline: none;
    appearance: none;
}

.task-edit-bottom-right{
    display: flex;
    gap: 8px;
    padding: 8px 16px;
}

#task-edit-cancel-button{
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 600;
    background-color: #E8E9EA;
    color: #383A40;
    border: 1px solid #D6D7D9;
    border-radius: 4px;
}

#task-edit-save-button{
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 600;
    background-color: #E71313;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}